*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: var(--font-monospace);
}

div.hspace {
    width: 50%;
    height: 1em;
    color: none;
}

.admin-pannel {
    position: fixed;
    float: left;
    width: var(--size-pannel-width);
    max-height: calc(100% - var(--size-header-height));
    overflow-y: auto;
    overflow-x: hidden;
    top: var(--size-header-height);
    padding: 1em;
    border-right: 1px solid var(--color-ultralight);
    border-bottom: 1px solid var(--color-ultralight);
}

#menu {
    position: fixed;
    width: 100%;
    z-index: 5;
}

#gif_inspector {
    padding-top: var(--size-header-height);
}

#set_editor {
    position: fixed;
    top: var(--size-header-height);
    left: var(--size-pannel-width);
    right: 0;
    bottom: 0;
}

#gif_viewer {
    position: fixed;
    top: var(--size-header-height);
    left: var(--size-pannel-width);
    right: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    backdrop-filter: blur(2px) contrast(2) brightness(2);
    transition: opacity ease-in-out var(--transition-duration-fast);
}

#gif_viewer.visible {
    display: block;
    opacity: 1;
}