body {
    --font-serif: serif;
    --font-sans-serif: sans-serif;
    --font-monospace: 'monoidregular', monospace;
    --font-size-large: 125%;
    --font-size-medium: 110%;
    --font-size-normal: 100%;
    --font-size-small: 90%;
    --font-size-smaller: 80%;
    --font-size-xsmall: 50%;
    --color-accent-blue: #3498db;
    --color-accent-red: #ac2d1f;
    --color-accent-red-light: #ed4b38;
    --color-ultralight: #eee;
    --color-light: #aaa;
    --color-normal: #888;
    --color-dark: #333;
    --color-overlay-white-light: rgba(255, 255, 255, .1);
    --color-overlay-white: rgba(255, 255, 255, .25);
    --color-overlay-white-strong: rgba(255, 255, 255, .75);
    --color-overlay-black-light: rgba(0, 0, 0, .1);
    --color-overlay-black: rgba(0, 0, 0, .25);
    --color-overlay-black-strong: rgba(0, 0, 0, .5);
    --color-box-error: #b73230;
    --color-background-box-error: #ffd9d9;
    --size-header-height: 42px;
    --size-gif-height: 258px;
    --size-pannel-width: 22%;
    --size-handle: 11px;
    --size-switch-width: 48px;
    --size-switch-height: 22px;
    --transition-duration-fast: .15s;
    --transition-duration-normal: .3s;
    --transition-duration-long: .5s;
}